html {
  --text-color: blue;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 60px;

  margin: 0 auto;
  padding-right: 50px;

  position: relative;
  box-sizing: border-box;
  background-color: #fff;
}

.logo {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

/* NAV */
.nav {
  width: 100%;
}

.nav .list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav .list .menu {
  margin-left: 20px;
}

.nav .list .menu:first-child {
  margin-left: 0;
}

/* LINK */
.nav .list .menu .link {
  position: relative;
  display: flex;
  align-items: center;

  height: 60px;

  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  color: #000;
}

.is-active {
  color: var(--text-color);
}

.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: var(--text-color);
  border-radius: 8px;
}

.nav .list .menu .link:hover {
  color: var(--text-color);
}
